.product_card {
  background-color: black;
  padding: 10px;
  margin: 10px;
  text-align: left;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image_container {
  position: relative;
}

.product_image:hover {
  opacity: 0.5;
}

.product_image {
  width: 100%;
  height: 15vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image_container:hover .see_more_button {
  display: block;
}

.see_more_button {
  display: none;
  position: absolute;
  left: 20%;
  bottom: 40%;
  cursor: pointer;
  background-color: rgba(0,0,0,1);
  color: white;
  font-size: 20px;
  padding: 5px;
  border: solid black 1px;
}

.see_more_button:hover {
  border: solid white 1px;
}

.product_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character_category {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product_description {
  font-size: 17px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid 1px white;
}

.price_qty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.product_price {
  font-size: 25px;
  text-align: left;
}

.add_to_cart_button {
  appearance: none;
  width: auto;
  height: auto;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  padding: 3px 5px 3px 5px;

}

.add_to_cart_button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

.product_row {
  background-color: black;
  padding: 10px;
  margin: 20px 20px 0 10px;
  //text-align: left;
  border: solid 1px white;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
}

.row_image_container {
  width: 20%;
}

.row_product_image {
  height: 15vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.row_product_info_container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.row_name_title_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row_name_title {
  display: flex;
  flex-direction: column;
}

.character_category_row {
  font-size: 25px;
}

.row_title {
  font-size: 20px;
  padding-bottom: 5px;
}

.row_price_quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

.row_price {
  font-size: 25px;
  padding: 0 10px 0 10px;
}

.row_descriptions {
  border-top: solid white 1px;
}

.row_description {
  padding: 5px 0 5px 0;
}



