$font_color: white;
$background_color:black;

.cart_box {
  position: fixed;
  top: 350px;
  width: 23vw;
  border: solid 1px $font_color;
  text-align: left;
  padding: 10px;
  margin: 10px;
  background-color: $background_color;
}

.cart_title {
  text-align: center;
  font-size: 25px;
}

.orders {
  height: 20vw;
  overflow: auto;
}

.order_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0 8px 0;
}

.order {
  display: flex;
  flex-direction: row;
}

.remove_item_all {
  margin-right: 5px;
  padding: 0 4px 0 4px;
  border: 1px solid white;
}

.remove_item_all:hover {
  border: 1px solid black;
  cursor: pointer;
}

.qty_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
}

.price_box {
  padding: 0 5px 0 5px;
}

.subtotal_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  border-top: solid 1px white;
  font-size: 20px;
}

.checkout_button_container {
  display: flex;
  justify-content: center;
}

.checkout_button {
  text-align: center;
  width: 70%;
  padding: 5px;
  border: 2px solid white;
  margin: 10px 5px 5px 5px;
  font-size: 20px;
  cursor: pointer;
}

.checkout_button:hover {
  color: black;
  background-color: white;
}
