$font_color: white;

.reset_div {
  display: flex;
  justify-content: center;
  margin: 1px
}

.reset_filters {
  background-color: black;
  text-decoration: none;
  border: solid 1px white;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
}

.reset_filters:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}